.content {
  display: grid;
  width: 100%;
  grid-template-columns: 13rem repeat(2, 1fr) 13rem;
  margin-top: 4rem;
  .stat-container {
    display: grid;
    justify-self: center;
    gap: 0.5rem;
    border-radius: 2.5rem;
    background-color: white;
    padding: 1.5rem;
    width: 95%;
    .details {
      grid-column: 1;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      column-gap: 0.5rem;
      font-size: 2rem;
      font-weight: 700;
      align-self: center;
      justify-self: flex-start;
      text-decoration: none;
      color: var(--color-primary-dark);
      &__crest {
        justify-self: flex-start;
        align-self: center;
        margin-left: 0.5rem;
      }
      &__name {
        font-size: 2rem;
        font-weight: 700;
        margin-right: 0.5rem;
        align-self: center;
      }
      &__position {
        font-size: 1.9rem;
        font-weight: 400;
        align-self: center;
      }
      &__stat {
        font-size: 2rem;
        font-weight: 400;
        align-self: center;
        justify-self: center;
        color: var(--color-primary-dark);
      }
      .info-logo {
        color: var(--color-primary-light);
        grid-row: 1 / span 2;
        align-self: center;
      }
      &__underline-small {
        height: 0.1rem;
        width: 100%;
        background-color: var(--color-grey-dark-3);
      }
    }

    .title {
      grid-row: 1;
      font-size: 2rem;
      color: var(--color-primary-dark);
      justify-self: center;
    }
    .info {
      justify-self: flex-start;
      margin-right: 1rem;
    }

    .underline {
      height: 0.2rem;
      width: 100%;
      background-color: black;
      grid-row: 2;
      grid-column: 1 / span 6;
    }
    .pts {
      font-weight: 700;
    }
  }
  .heading {
    justify-self: center;
  }
  //////////////////
  // Leaders-players
  //////////////////

  .players {
    grid-column: 3;
  }

  .pts-leaders {
    grid-column: 3;
    grid-template-columns: 25rem repeat(3, 1fr);
    grid-template-rows: min-content min-content repeat(7, 1fr min-content);

    .details {
      &__shirt {
        grid-row: 1 / span 2;
        height: 5rem;
        justify-self: center;
        align-self: center;
      }
      &__crest {
        height: 2.5rem;
      }
      &__info-box {
        grid-row: 2;
        grid-column: 2;
        display: flex;
      }

      &__underline-small {
        grid-column: 1 / span 5;
      }
    }
  }

  //////////////////
  // League Table
  //////////////////

  .teams {
    grid-column: 2;
    grid-row: 1;
  }

  .league-table {
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 22rem repeat(5, 1fr);
    grid-template-rows: min-content min-content repeat(14, 1fr min-content);

    .details {
      &__crest {
        height: 3rem;
      }

      &__underline-small {
        grid-column: 1 / span 6;
      }
    }
  }
  //////////////////
  // Fixtures
  //////////////////
  .fix-heading {
    margin-top: 2rem;
    grid-column: 2 / span 2;
    justify-self: center;
  }
  .fix-container {
    grid-column: 2 / span 2;
    display: grid;
    row-gap: 1.5rem;
    column-gap: 1rem;
    grid-template-columns: min-content 15rem repeat(7, 1fr);
    grid-template-rows: repeat(16, min-content) 1fr;

    .fix-desc {
      grid-row: 1;
      grid-column: 1 / span 2;
    }
    .team {
      grid-column: 2;
      border-bottom: 1px solid var(--color-grey-light-4);
      font-size: 2rem;
      font-weight: 700;
      color: var(--color-primary-dark);
      align-self: flex-end;
    }
    .gw {
      grid-row: 1;
      font-size: 2.5rem;
      justify-self: center;
      align-self: center;
    }
    .logo {
      display: flex;
      grid-column: 1;
      align-self: flex-end;

      img {
        height: 4rem;
      }
    }
    .dif-container {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 1 / span 2;
      & > span {
        font-size: 1.5rem;
        margin: 0.5rem;
        color: var(--color-primary-dark);
      }

      .dif {
        width: 2.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          color: var(--color-grey-light-1);
          font-size: 2rem;
        }
      }
      .one {
        background-color: var(--color-dif-1);
      }
      .two {
        background-color: var(--color-dif-2);
      }
      .three {
        background-color: var(--color-dif-3);
        span {
          color: black;
        }
      }
      .four {
        background-color: var(--color-dif-4);
      }
      .five {
        background-color: var(--color-dif-5);
      }
    }
    .fixDifficulty {
      height: 100%;
      width: 100%;
      justify-self: center;
      align-self: center;
      border-radius: 0.5rem;

      .opp-img {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0.5rem;
        margin-top: 0.6rem;
        font-size: 1.7rem;
        img {
          opacity: 90%;
          height: 3.5rem;
          width: 3.5rem;
        }
      }
    }
  }
}
