.container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-3);
  box-shadow: var(--shadow-dark);
  min-height: 100rem;
  min-width: 125rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
  h1 {
    font-size: 5rem;
    color: var(--color-primary-light);
  }
}
